<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>-->
    <!--<ion-title>Profile</ion-title>-->
  <!--</ion-navbar>-->

</ion-header>

<ion-content>
<body style="overflow: scroll"  class="profile">
  <div class="cont-main">
    <div class="profile-cont text-center">
      <img src="./assets/images/search-img-01.png" class="res-image">
      <h1>Searching for nearby<span class="text-red" (click)="goto('M')"> Les-bi</span></h1>
    </div>
  </div>
</body>
</ion-content>
