<!--
  Generated template for the TellUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>-->
    <!--<ion-title>Tell-Us</ion-title>-->
  <!--</ion-navbar>-->

</ion-header>

<ion-content>
<body style="overflow: scroll"  class="tell-us">
  <div class="cont-main">
    <div class="top-nav text-center color-red">
      <a (click)="goto('S')"><img src="./assets/images/arrow-left.png" class="left-arrow"></a>
      <h1>Tell us about yourself</h1>
    </div>
    <br/>
    <div class="text-center">
      <img src="./assets/images/tell-us-img-01.png" class="tell-us-img">
    </div>
    <br/>
    <div class="text-box text-center">
      <div class="select-div">
        <select class="input-round" (change)="onChange($event.target.value, 'G')">
          <option style="color: gray" value = ''>Gender</option>
          <option *ngFor="let g_type of gender"
                  [value]="g_type.id">
            {{g_type.value}}
          </option>
          <!--<option >Male</option>-->
          <!--<option >Femal</option>-->
        </select>
      </div>
      <div class="w-35">
        <div class="select-div">
          <select id="years" class="input-round" (change)="onChange($event.target.value, 'Y')">
            <option style="color: gray" value = ''>Year</option>
            <option *ngFor="let year of years"
                    [value]="year">
              {{year}}
            </option>
            <!--<option >2018</option>-->
            <!--<option >2019</option>-->
          </select>
        </div>
      </div>
      <div class="w-35">
        <div class="select-div">
          <select class="input-round" (change)="onChange($event.target.value, 'M')">
            <option style="color: gray" value = ''>Month</option>
            <option *ngFor="let month of months"
                    [value]="month.id">
              {{month.value}}
            </option>
            <!--<option >January</option>-->
            <!--<option >February</option>-->
          </select>
        </div>
      </div>
      <div class="w-25">
        <div class="select-div">
          <select class="input-round" (click)="pick()" (change)="onChange($event.target.value, 'DY')">
            <option style="color: gray" value = ''>Date</option>
            <option *ngFor="let day of days"
                    [value]="day">
              {{day}}
            </option>
            <!--<option >Monday</option>-->
            <!--<option >Tuesday</option>-->
          </select>
        </div>
      </div>
      <div  class="clear"></div>
      <div class="select-div">
        <select class="input-round" (change)="onChange($event.target.value, 'C')">
          <option style="color: gray" value = ''>Country</option>
          <option *ngFor="let countrie of countries"
                  [value]="countrie.country_id">
            {{countrie.name}}
          </option>
        </select>
      </div>
      <div class="w-58">
        <div class="select-div">
          <select class="input-round" (change)="onChange($event.target.value, 'CS')">
            <option style="color: gray" value = ''>State / Province</option>
            <option *ngFor="let stat of states"
                    [value]="stat.state_id">
              {{stat.name}}
            </option>
            <!--<option >Sindh</option>-->
            <!--<option >Panjab</option>-->
          </select>
        </div>
      </div>
      <div class="w-40">
        <div class="select-div">
          <select class="input-round" (change)="onChange($event.target.value, 'CC')">
            <option style="color: gray" value = ''>City</option>
            <option *ngFor="let citie of cities"
                    [value]="citie.city_id">
              {{citie.name}}
            </option>
            <!--<option >Karachi</option>-->
            <!--<option >Lahore</option>-->
          </select>
        </div>
      </div>
      <div  class="clear"></div>
      <h3 class="text-red">Appearance</h3>
      <div class="select-div">
        <select class="input-round" (change)="onChange($event.target.value, 'B')">
          <option style="color: gray" value = ''>Body type</option>
          <option *ngFor="let bodytype of body_type"
                  [value]="bodytype.id">
            {{bodytype.value}}
          </option>
          <!--<option >Slim</option>-->
          <!--<option >Fat</option>-->
        </select>
      </div>
      <div class="w-58">
        <div class="select-div">
          <select class="input-round" (change)="onChange($event.target.value, 'HG')">
            <option style="color: gray" value = ''>Height</option>
            <option *ngFor="let high of height"
                    [value]="high.id">
              {{high.value}}
            </option>
            <!--<option >5 F</option>-->
            <!--<option >6 F</option>-->
          </select>
        </div>
      </div>
      <div class="w-40">
        <div class="select-div">
          <select class="input-round" (change)="onChange($event.target.value, 'E')">
            <option style="color: gray" value = ''>Eyes</option>
            <option *ngFor="let eye of eyes"
                    [value]="eye.id">
              {{eye.value}}
            </option>
            <!--<option >Black</option>-->
            <!--<option >Brown</option>-->
          </select>
        </div>
      </div>
      <div class="w-58">
        <div class="select-div">
          <select class="input-round" (change)="onChange($event.target.value, 'H')">
            <option style="color: gray" value = ''>Hair</option>
            <option *ngFor="let hair of hairs"
                    [value]="hair.id">
              {{hair.value}}
            </option>
            <!--<option >Black</option>-->
            <!--<option >Brown</option>-->
          </select>
        </div>
      </div>
      <div class="w-40">
        <div class="select-div">
          <select class="input-round" (change)="onChange($event.target.value, 'ET')">
            <option style="color: gray" value = ''>Ethnicity</option>
            <option *ngFor="let ethn of ethnicity"
                    [value]="ethn.id">
              {{ethn.value}}
            </option>
            <!--<option >Ethnicity</option>-->
            <!--<option >Ethnicity</option>-->
          </select>
        </div>
      </div>
      <div  class="clear"></div>
      <h3 class="text-red">Lifestyle</h3>
      <div class="w-58">
        <div class="select-div">
          <select class="input-round" (change)="onChange($event.target.value, 'S')">
            <option style="color: gray" value = ''>Smoking</option>
            <option *ngFor="let smoke of smoking"
                    [value]="smoke.id">
              {{smoke.value}}
            </option>
            <!--<option >Smoking</option>-->
            <!--<option >Smoking</option>-->
          </select>
        </div>
      </div>
      <div class="w-40">
        <div class="select-div">
          <select class="input-round" (change)="onChange($event.target.value, 'D')">
            <option style="color: gray" value = ''>Drinking</option>
            <option *ngFor="let drink of drinking"
                    [value]="drink.id">
              {{drink.value}}
            </option>
            <!--<option >Drinking</option>-->
            <!--<option >Drinking</option>-->
          </select>
        </div>
      </div>
      <div  class="clear"></div>
      <h3 class="text-red">Personal</h3>
      <div class="">
        <textarea placeholder="In my own words" [(ngModel)]="inmyownwords" rows="4"  class="textarea-round"></textarea>
      </div>
      <br/>

      <p><button class="color-red" (click)="continue()">Continue</button></p>
      <br/>


    </div>
  </div>
</body>
</ion-content>
