<!--
  Generated template for the AlbumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>-->
    <!--<ion-title>Album</ion-title>-->
  <!--</ion-navbar>-->

</ion-header>

<ion-content>
<body style="overflow: scroll"  class="album">

  <div class="cont-main">
    <div class="top-nav text-center color-red">
      <a (click)="goto('M')"><img src="../assets/images/arrow-left.png" class="left-arrow"></a>
      <h1>Album</h1>
    </div>
    <section class="cont-album">
      <div>
        <a href="#"><img src="../assets/images/profile-pic-01.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-02.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-01.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-02.png"></a>
      </div>
      <div>
        <a href="#"><img src="../assets/images/profile-pic-03.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-04.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-03.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-04.png"></a>
      </div>
      <div>
        <a href="#"><img src="../assets/images/profile-pic-01.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-02.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-01.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-02.png"></a>
      </div>
      <div>
        <a href="#"><img src="../assets/images/profile-pic-03.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-04.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-03.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-04.png"></a>
      </div>
      <div>
        <a href="#"><img src="../assets/images/profile-pic-01.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-01.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-01.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-02.png"></a>
      </div>
      <div>
        <a href="#"><img src="../assets/images/profile-pic-01.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-01.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-01.png"></a>
        <a href="#"><img src="../assets/images/profile-pic-04.png"></a>
      </div>

    </section>
  </div>

</body>
</ion-content>
