page-home {

}

page-album {

}

page-sign-up {

}

@charset "utf-8";
/* CSS Document */

@font-face{
  font-family:Roboto-Regular;
  font-weight:normal;
  src:url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face{
  font-family:Roboto-Light;
  font-weight:normal;
  /* font-weight: 300; */
  src:url("../assets/fonts/Roboto-Light.ttf");
}

@font-face{
  font-family:Roboto-Medium;
  font-weight:normal;
  /* font-weight: 600; */
  src:url("../assets/fonts/Roboto-Medium.ttf");
}
@font-face{
  font-family:Roboto-Bold;
  font-weight:normal;
  /* font-weight: bold; */
  src:url("../assets/fonts/Roboto-Bold.ttf");
}
@font-face{
  font-family:Roboto-Black;
  font-weight:normal;
  src:url("../assets/fonts/Roboto-Black.ttf");
}


* { margin:0; padding:0; }
* { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
ul li { list-style-type:none; }
a, a:hover { text-decoration:none; }


body { font-family:Roboto-Regular, sans-serif; background-color:#f7f7f7; font-size:26px; color:#a4a4a4; }

input[type=text], input[type=password], textarea { width:100%; height: 0px; border:3px solid #e2e2e2; font-family:Roboto-Bold; font-size:24px; color:#cbcbd1; padding:33px 33px 33px 33px; background-color:#FFF; }
input:focus, textarea:focus, select:focus { outline:none; border:3px solid #97b9f0; }
::placeholder { color:#cbcbd1; }
button { text-align:center; border-radius:35px; width:100%; height:70px; border:0px; font-size:31px; color:#f3f3f3; font-family: Roboto-Medium; cursor:pointer; }
button:hover{ text-decoration:underline; opacity:0.7; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; }

.icon-div { position: relative; margin: 0 0 25px 0;}
.icon-div .input-round { padding: 33px 33px 33px 80px; border-radius: 35px; }
.icon-div .icon-img { position: absolute; left: 31px; top: 21px;}

.verify-div {  font-family:Roboto-Bold; font-size:31px; text-align:left; }
.verify-div .input-round { padding: 33px 33px 33px 33px; border-radius: 35px; width:69%; margin-bottom:25px; margin-left:25px; }
.verify-div img { margin:0 20px; position:relative; top:3px;}

.select-div { position: relative; margin: 0 0 25px 0; background: url(../assets/images/arrow-down-gray-icon.png) no-repeat right; background-color: #fff; border-radius: 35px;  border: 3px solid #e2e2e2;  width: 100%; background-position: right 8px bottom 10px; }
.select-div select { width:100%; height: auto; border:0px; font-family:Roboto-Bold; font-size:24px; padding:17px 33px 17px 33px; background-color:transparent; -webkit-appearance: none; cursor: pointer; color: #cbcbd1;}
/*.select-div .icon-img { position: absolute; right: 9px; top: 14px;}*/
.w-35 { width:35%; float:left; margin-right:2.5%; }
.w-25 { width:25%; float:left; margin-right:2.5%; }
.clear { clear:both; }
.w-58 { width:58%; float:left; margin-right:2%; }
.w-40 { width:40%; float:left; }

/*.tell-us .cont-main .text-box div:nth-child(4) { margin:0px;}*/
.tell-us :nth-child(1) :nth-child(5) :nth-child(4)  { margin:0px;}

.textarea-round { height: 150px; padding: 22px 33px; border-radius: 35px; }


.text-center { text-align:center; }
.bor-top { border-top-left-radius:15px;  border-top-right-radius:15px; border-bottom-left-radius:0px; border-bottom-right-radius:0px; }
.bor-bottom { border-top-left-radius:0px;  border-top-right-radius:0px; border-bottom-left-radius:15px; border-bottom-right-radius:15px; }

.color-red { background-color:#c62828; }
.color-blue { background-color:#3c599f; }
.color-gray { background-color:#a4a4a4; }

.text-red { color:#c62828;}

.cont-main { width:100%; height:1134px; }
.logo { margin:170px 0 100px 0; }
.text-box { width:80%; margin:0 auto; }
.text-box h3 { font-size: 26px; font-family: Roboto-Bold; text-align:left; margin: 50px 0 25px 0;}
.forget-pass { font-size:24px; color:#636060; margin:40px 0; font-family:Roboto-Bold; display:inline-block; text-decoration:underline; }
.forget-pass:hover { opacity:0.7; }

.registering { font-size:24px; font-family:Roboto-Bold; width:66%; margin:0 auto; margin-top:25px; margin-bottom:55px }
.registering a { color:#c62828; text-decoration:underline; }
.registering a:hover { text-decoration:none;  }


.top-nav { color:#FFF; height:83px; }


.top-nav h1 { font-size:31px; font-family:Roboto-Medium; line-height:77px; }
.top-nav .left-arrow { float:left; position:relative; left:30px; top:20px; }
.top-nav .left-arrow:hover { opacity:0.7; }

.cont-center { padding:40px; }
.cont-center h3 { font-size:26px; font-family:Roboto-Bold; }
.cont-center p { font-family:Roboto-Medium; font-style:italic; margin:20px 0 50px 0; }

.profile-cont { margin-top:400px; }
.profile-cont h1 { color:#a4a4a4; font-size:46px;  font-family:Roboto-Medium; }

.cont-album { padding:40px; }
.cont-album div { display:flex; }
.cont-album a { margin:0 15px 20px 0; }
.cont-album a:hover { opacity:0.5; }
.cont-album a:nth-child(4) { margin:0; }

.match { background:url(../assets/images/match-bg-01.png) no-repeat; background-size:cover;  min-height:100vh; }
.match-main-cont { width:90%; height:auto; margin:0 auto; background-color:#f7f7f7; border:3px solid #a4a4a4; margin-top:10%; margin-bottom:10%; }
.match-main-cont .logo { margin:100px 0 50px 0; }
.match-main-cont .logo img { width:40%; }
.match-main-cont .button-box { width:90%; margin:0 auto; margin-bottom:10%; }
.match-main-cont .button-box .match-img { width:50%; margin:0 0 45px 0; }
.match-main-cont .button-box .send-icon { position:relative; top:3px; right:15px; }
.match-main-cont .button-box .hand-icon { position:relative; }
.match-main-cont .button-box .hand-icon img  {position:absolute; top:-8px; right:10px; }

.match-main-cont .button-box h1 { color:#a4a4a4; font-size:53px; font-family:Roboto-Medium; margin:0 0 40px 0; }
.match-main-cont .button-box .or { font-family:Roboto-Medium; font-size:36px; margin:20px 0; }

.upload-picture { background:url(../assets/images/match-bg-01.png) no-repeat; background-size:cover;  min-height:100vh; }
.upload-picture-main-cont { width:90%; height:auto; margin:0 auto; background-color:#f7f7f7; border:3px solid #a4a4a4; margin-top:10%; margin-bottom:10%; padding: 10% 0;}
.upload-picture-main-cont .button-box { width:90%; margin:0 auto; }
.upload-picture-main-cont h3 { font-size:24px; color:#cbcbd1; font-family:Roboto-Bold; margin: 25px 0 200px 0; }




/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 640px) {
  .cont-album img { width:128px; }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .res-image { width:50%; height:auto; }
  .cont-main { height:854px; }
  .logo { margin:100px 0 80px 0; }
  input[type=text], input[type=password] { padding:27px; font-size:20px; }
  .forget-pass { font-size:18px; margin:20px 0; }
  button { font-size:20px; height:50px; }
  .text-box br { content:""; display:block; margin:0 0 20px 0; }


  .cont-album img { width:88px; }

  .match-main-cont .logo { margin:90px 0 50px 0; }
  .match-main-cont .button-box h1 { font-size:41px; }
  .match-main-cont .button-box .send-icon img { width:30px; }
  .match-main-cont .button-box .hand-icon img { width:36px; }
  .match-main-cont .button-box .or { font-size:27px; margin:15px 0; }

  .profile-cont { padding-top:200px; margin-top:0px; }
  .profile-cont h1 { font-size:31px; }

  .icon-div .input-round { padding: 20px 20px 20px 50px; font-size: 17px;; border-radius: 35px; }
  .icon-div .icon-img { position: absolute;  left: 20px; top: 6px; }
  .icon-div img { width: 70%; }

  .verify-div { font-size:17px; }
  .verify-div img { width:20px; margin: 0 10px; }
  .verify-div .input-round { padding:20px; width:60%; margin-left:5px; }
  .registering { font-size:15px; width:90%; }

  .select-div { background-size: 33px 33px; background-position: right 8px bottom 5px; }
  .select-div select { font-size: 17px; padding: 10px 20px 10px 20px; }
  .w-35, .w-25, .w-58, .w-40 { width:100%; }
  .text-box h3 { font-size:24px; }
  .tell-us-img { width:90%; }
  .textarea-round { font-size:17px; }
  .top-nav h1 { font-size:21px; }

  .upload-picture .match-img, .upload-picture .user-cion-circle { width:50%; }
  .upload-picture-main-cont h3 { margin: 25px 0 25px 0; }

}

/* Portrait phones and smaller */
@media (max-width: 320px) {
  .res-image { width:50%; height:auto; }
  .cont-main { height:570px; }
  .logo { margin:70px 0 40px 0; }
  input[type=text], input[type=password] { padding:20px; font-size:17px; }
  .forget-pass { font-size:15px; margin:20px 0; }
  button { font-size:15px; height:30px; }
  .text-box br { content:""; display:block; margin:0 0 10px 0; }
  .dis-none { display:none; }

  .cont-album div { display: inherit; }
  .cont-album img { width:100px; }

  .match { min-height:auto; }
  .match-main-cont .logo { margin:40px 0 20px 0; }
  .match-main-cont .button-box h1 { font-size:27px; }
  .match-main-cont .button-box .send-icon img { width:20px; }
  .match-main-cont .button-box .hand-icon img { width:22px; top:-3px; }
  .match-main-cont .button-box .or { font-size:21px; margin:7px 0; }

  .profile-cont { padding-top:200px; margin-top:0px; }
  .profile-cont h1 { font-size:21px; }

  .terms { font-size:21px;}
  .terms .top-nav h1 { line-height:29px; padding:14px; margin-left:57px; font-size:21px; }
  .terms .cont-center h3 { font-size:24px; }

  .select-div { background-size: 33px 33px; background-position: right 8px bottom 5px; }
  .select-div select { font-size: 17px; padding: 10px 20px 10px 20px; }
  .w-35, .w-25, .w-58, .w-40 { width:100%; }
  .text-box h3 { font-size:24px; }
  .tell-us-img { width:90%; }
  .textarea-round { font-size:17px; }
  .top-nav h1 { font-size:21px; }

  .upload-picture .match-img, .upload-picture .user-cion-circle { width:50%; }
  .upload-picture-main-cont h3 { margin: 25px 0 25px 0; }
  .upload-picture .cont-main { height:720px; }
}

