<ion-header>
  <!--<ion-navbar>-->
    <!--<ion-title>-->
      <!--Ionic Blank-->
    <!--</ion-title>-->
  <!--</ion-navbar>-->
</ion-header>

<ion-content>
<body style="overflow: scroll" class="home">
  <div class="cont-main">
    <div class="logo text-center">
      <img src="./assets/images/es-bi-logo.png" class="res-image">
    </div>
    <div class="text-box text-center">
      <input type="text" name="e-mail" placeholder="Email" class="bor-top">
      <input type="password" name="password" placeholder="Password" class="bor-bottom">
      <p><a href="#" class="forget-pass">Forget Password ?</a></p>
      <p><button class="color-red" (click)="goto('P')">Login</button></p><br/>
      <p><button class="color-blue">Login With Facebook</button></p><br/>
      <p><button class="color-gray" (click)="goto('S')">Register</button></p>
    </div>
  </div>
</body>
</ion-content>
