<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

<!--</ion-header>-->

<ion-content>
<body style="overflow: scroll" class="signup">
  <div class="cont-main">
    <div class="logo text-center">
      <img src="./assets/images/es-bi-logo.png" class="res-image">
    </div>
    <div class="text-box text-center">
      <div class="icon-div">
        <input type="text" [(ngModel)]="User.email" placeholder="Email" class="input-round">
        <span class="icon-img"><img src="./assets/images/envelop-icon-red.png"></span>
      </div>
      <div class="icon-div">
        <input type="password" [(ngModel)]="User.password" placeholder="Password" class="input-round">
        <span class="icon-img"><img src="./assets/images/key-icon-red.png"></span>
      </div>
      <div class="icon-div">
        <input type="password" [(ngModel)]="repassword" placeholder="Confirm Password" class="input-round">
        <span class="icon-img"><img src="./assets/images/key-icon-red.png"></span>
      </div>
      <div class="icon-div">
        <input type="text" [(ngModel)]="User.username" placeholder="User Name" class="input-round">
        <span class="icon-img"><img src="./assets/images/key-icon-red.png"></span>
      </div>

      <div id="recaptcha-container"></div>

      <p><button id="sign-in-button" class="color-gray" (click)="register()">Register</button></p><br/>
      <div class="verify-div"><img src="./assets/images/verify-icon-red.png"><span>Verify</span><input type="text" name="verify" placeholder="Enter Code" [(ngModel)]="code" class="input-round"></div>
      <p><button class="color-red" (click)="verify()" >Continue</button></p>
      <div class="registering">By registering you agree to our <a (click)="goto('TP')">Terms of Services</a> & <a href="#">Privacy Policy</a></div>
    </div>
  </div>
</body>
</ion-content>

<!--<ion-contsent class="signup">-->
  <!--<div class="cont-main">-->
    <!--<div class="logo text-center">-->
      <!--<img src="./assets/images/es-bi-logo.png" class="res-image">-->
    <!--</div>-->
    <!--<div class="text-box text-center">-->
      <!--<form [formGroup]="formgroup">-->
        <!--<ion-list>-->
          <!--<ion-item class="icon-div">-->
            <!--&lt;!&ndash;<div class="icon-div">&ndash;&gt;-->
            <!--<ion-input type="text" formControlName="email" placeholder="Email" class="input-round"></ion-input>-->
            <!--<span class="icon-img"><img src="./assets/images/envelop-icon-red.png"></span>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</ion-item>-->
          <!--<ion-item *ngIf="email.hasError('required') && email.touched">-->
            <!--<p> *Email is required</p>-->
          <!--</ion-item>-->
          <!--<ion-item class="icon-div">-->
            <!--&lt;!&ndash;<div class="icon-div">&ndash;&gt;-->
            <!--<ion-input type="password" formControlName="password" placeholder="Password" class="input-round"></ion-input>-->
            <!--<span class="icon-img"><img src="./assets/images/key-icon-red.png"></span>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</ion-item>-->
          <!--<ion-item *ngIf="password.hasError('required') && password.touched">-->
            <!--<p> *Password is required</p>-->
          <!--</ion-item>-->
          <!--<ion-item class="icon-div">-->
            <!--&lt;!&ndash;<div class="icon-div">&ndash;&gt;-->
            <!--<ion-input type="password" formControlName="repassword" placeholder="Confirm Password" class="input-round"></ion-input>-->
            <!--<span class="icon-img"><img src="./assets/images/key-icon-red.png"></span>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</ion-item>-->
          <!--<ion-item *ngIf="repassword.hasError('required') && repassword.touched">-->
            <!--<p> *Confirm Password is required</p>-->
          <!--</ion-item>-->
          <!--<ion-item class="icon-div">-->
            <!--&lt;!&ndash;<div class="icon-div">&ndash;&gt;-->
            <!--<ion-input type="text" formControlName="name" placeholder="User Name" class="input-round"></ion-input>-->
            <!--<span class="icon-img"><img src="./assets/images/key-icon-red.png"></span>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</ion-item>-->
          <!--<ion-item *ngIf="name.hasError('required') && name.touched">-->
            <!--<p> *User Name is required</p>-->
          <!--</ion-item>-->
        <!--</ion-list>-->
        <!--<p><button class="color-gray" (click)="register()">Register</button></p><br/>-->
        <!--<div class="verify-div"><img src="./assets/images/verify-icon-red.png"><span>Verify</span><input type="text" name="verify" placeholder="" class="input-round"></div>-->
        <!--<p><button class="color-red" (click)="goto('TU')" >Continue</button></p>-->
        <!--<div class="registering">By registering you agree to our <a (click)="goto('TP')">Terms of Services</a> & <a href="#">Privacy Policy</a></div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</ion-content>-->
