<!--
  Generated template for the MatchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>-->
    <!--<ion-title>Match</ion-title>-->
  <!--</ion-navbar>-->

</ion-header>

<ion-content>
<body style="overflow: scroll"  class="match">
  <div class="cont-main match-main-cont">
    <div class="logo text-center">
      <img src="./assets/images/es-bi-logo.png" class="res-image">
    </div>
    <div class="button-box text-center">
      <h1>You hav a match!</h1>
      <p><img src="./assets/images/match-img-01.png" class="match-img res-image"></p>
      <p><button class="color-red"><span class="send-icon"><img src="./assets/images/envelop-icon.png"></span>Send a Message</button></p>
      <p class="text-red or">Or</p>
      <p><button class="color-gray" (click)="goto('A')"><span class="hand-icon"><img src="../assets/images/hand-icon.png"></span>Les-bi On !</button></p>
    </div>
  </div>
</body>
</ion-content>
