<!--
  Generated template for the UploadPicturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>-->
    <!--<ion-title>Upload-Picture</ion-title>-->
  <!--</ion-navbar>-->

</ion-header>

<ion-content>
<body style="overflow: scroll"  class="upload-picture">
  <div class="top-nav text-center color-red">
    <a (click)="goto('TU')"><img src="./assets/images/arrow-left.png" class="left-arrow"></a>
    <h1>Upload Picture</h1>
  </div>
  <div class="cont-main upload-picture-main-cont text-center">
    <!--<img src="./assets/images/match-img-01.png" class="match-img">-->
    <img [src]="currentImage" *ngIf="currentImage" class="match-img">
    <!--<input type="file" name="image" [(ngModel)]="base64Image">-->
    <div class="button-box text-center">
      <br/>
      <p><img src="./assets/images/loding-arrow.png" class="loding-arrow"></p>
      <br/>
      <p><img src="./assets/images/user-cion-circle.png" (click)="uploadImage()" class="user-cion-circle"></p>
      <h3>Max file size: 10 MB</h3>
      <p>
        <!--<input type="file" class="color-red" name='image' multiple="multiple" (change)="fileChanged($event)" placeholder="Upload file..."><br>-->
        <button (click)="getImage()" class="color-red">Select file</button>
      </p>
      <br class="dis-none">
      <p><button class="color-gray" (click)="goto('P')">Skip</button></p>
    </div>
  </div>
</body>
</ion-content>
