<!--
  Generated template for the TermsPrivacyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>-->
    <!--<ion-title>Terms-Privacy</ion-title>-->
  <!--</ion-navbar>-->

</ion-header>

<ion-content>
<body style="overflow: scroll"  class="terms">
  <div class="cont-main">
    <div class="top-nav text-center color-red">
      <a (click)="goto('S')"><img src="./assets/images/arrow-left.png" class="left-arrow"></a>
      <h1>Terms and Privacy Policy</h1>
    </div>
    <section class="cont-center">
      <h3 class="text-red">Terms and Conditions</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsumhas been the industr’s
        standard dummy text ever since the 1500s, when an unknown
        printer took a gallery of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially
        unchanged.
      </p>
      <h3 class="text-red">Privacy Policy</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsumhas been the industr’s
        standard dummy text ever since the 1500s, when an unknown
        printer took a gallery of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially
        unchanged.
      </p>
    </section>
  </div>
</body>
</ion-content>
